{% extends 'base.html.twig' %}

{% block title %}Hello New Category{% endblock %}

{% block body %}

<div class="example-wrapper">


    Add a new category:

    {{ form_start(form) }}

    {{ form_end((form)) }}
    <ul>
    </ul>
</div>
{% endblock %}
